/*-- scss:defaults --*/

/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro&display=swap');

.navbar {
  background-color: #b34838;
}



#quarto-content{
  background-color: #ffffff;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  border-left: 1px solid #23593a;
  color: #23593a !important;
}

a {
  color: #23593a;
}

a:hover {
  color: #23593a;
  border-bottom: 0px solid #23593a;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  color: #679e7e;
  text-align: center;
  font-weight: normal;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;s
}

h2, .h2 {
  border-bottom: 0px solid #679e7e;
  padding-bottom: .5rem;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  color: #679e7e;
  font-weight: normal;
}


.cell {
  border-style: groove;
}


#message-board {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .message {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f8f8f8;
    }

    .username {
        font-weight: normal;
        display: block;
        margin-bottom: 5px;
        font-size: 1em;
        color: #b34838;
    }

.title {
  text-align: center;
  font-weight: normal;
}


.img-fluid {
  width: auto;
  height: 10em;
  max-width: none;
  padding: 0.5em;
}


.quarto-figure > figure {
  padding: 0.5em;
}


.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: antiquewhite;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: antiquewhite;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
   color: antiquewhite;
}

.navbar-title, .nav-item, .nav-link{
  color: antiquewhite;
}

.nav-link.active{
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: antiquewhite;
}



.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  text-decoration-line: revert;
  text-decoration-style: dotted;
}

.gslide-title {
  text-align: center;
}

.gslide-desc {
  text-align: center;
}

.copiar-pix {
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  padding: 6px;
}



.sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {

    border-left: 1px solid #b34838;
    color: #b34838 !important;

}

.figure > p > a > .img-fluid {
  max-width: 100%;
  width: auto;
  height: 10em;
}

/*lightbox*/

.glightbox-mobile .glightbox-container .gslide-description{
  height:auto!important;
  width:100%;
  position:absolute;
  bottom:0;
  padding:19px 11px;
  max-width:100vw!important;
  -webkit-box-ordinal-group:3!important;
  -ms-flex-order:2!important;
  order:2!important;
  max-height:78vh;
  overflow:auto!important;
  background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.75)));
  background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);
  -webkit-transition:opacity .3s linear;
  transition:opacity .3s linear;
  padding-bottom:50px
}

.glightbox-mobile .glightbox-container .gslide-title{
  color:#222;
  font-size:1em
}

.glightbox-mobile .glightbox-container .gslide-desc{
  color:#222
}

.glightbox-mobile .glightbox-container .gslide-desc a{
  color:#222;font-weight:700
}

.glightbox-mobile .glightbox-container .gslide-desc *{
  color:inherit
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more{
  color:#222;
  opacity:.4
}

.glightbox-container .ginner-container.desc-bottom {
  background-color: none white !important;
}

.glightbox-container .ginner-container {
  background-color: none white !important;
  height: auto !important;
}