/*-- scss:defaults --*/

/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Sans+Pro&display=swap');

.navbar {
  background-color: #b34838;
}



#quarto-content{
  background-color: #ffffff;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  border-left: 1px solid #23593a;
  color: #23593a !important;
}

a {
  color: #23593a;
}

a:hover {
  color: #23593a;
  border-bottom: 0px solid #23593a;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  color: #679e7e;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

h2, .h2 {
  border-bottom: 0px solid #679e7e;
  padding-bottom: .5rem;
  text-align: center;
    font-family: 'Great Vibes', cursive;
      font-size: 3em;
  color: #679e7e;
}


.cell {
  border-style: groove;
}

.title {
  text-align: center;
}